<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>magazzino</servlet-name>
		<servlet-class>it.dstech.ortofruttawebapp.AggiungiProdotto</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>magazzino</servlet-name>
		<url-pattern>/ortofrutta</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>aggiorna</servlet-name>
		<servlet-class>it.dstech.ortofruttawebapp.AggiornaLista</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>aggiorna</servlet-name>
		<url-pattern>/lista</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>vendi</servlet-name>
		<servlet-class>it.dstech.ortofruttawebapp.VendiProdotti</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>vendi</servlet-name>
		<url-pattern>/vendita</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>stampa</servlet-name>
		<servlet-class>it.dstech.ortofruttawebapp.StampaVenduto</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>stampa</servlet-name>
		<url-pattern>/venduto</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>rimozione</servlet-name>
		<servlet-class>it.dstech.ortofruttawebapp.RimuoviProdotto</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rimozione</servlet-name>
		<url-pattern>/rimuovi</url-pattern>
	</servlet-mapping>
	
	

</web-app>
	